<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Profiilipilt
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="profile-image">
    <img src="{{imgurl}}">
  </div>
  <div>
    <button ion-button round outline (click)="chooseimage()">Vali pilt</button>
  </div>
  <div [hidden]="!moveon">
    <button ion-button round outline (click)="proceed()">Jäta pildi lisamine vahele</button>
  </div>
  <div [hidden]="moveon">
    <button ion-button round outline (click)="updateproceed()">Lae üles ning jätka</button>
  </div>
</ion-content>