<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Logi sisse
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="register();">
        Registreeru
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <div class="spacer" style="width:283px;height:29px;" id="logiSisse-spacer1"></div>
  <div id="logiSisse-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#828282;font-size:20px;">
      Pereliikmete ja varude lisamiseks palun logi sisse
    </p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button id="logiSisse-button2" ion-button color="positive" (click)="fbRegisterNew()" padding clear block style="text-align:right;">
          <img src="https://en.facebookbrand.com/wp-content/uploads/2016/05/FB-fLogo-Blue-broadcast-2.png" alt="">
        </button>
      </ion-col>
      <ion-col>
        <button id="logiSisse-button1" ion-button clear padding (click)="googlePlusRegister()" color="assertive" block>
          <img src="http://www.openduka.org/assets/img/googleplus.png" alt="">
        </button>
      </ion-col>
      <ion-col>
        <button id="logiSisse-button3" ion-button clear padding color="dark" block icon-left>
          <img src="http://id.ee/public/.thumbnails/id-logo-suur_520x478.png" alt="">
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="spacer" style="width:283px;height:29px;" id="logiSisse-spacer2"></div>
  <div id="logiSisse-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#828282;font-size:20px;">
      või
    </p>
  </div>
  <div class="spacer" style="width:283px;height:29px;" id="logiSisse-spacer3"></div>
  <form id="logiSisse-form1">
    <ion-list id="logiSisse-list1">
      <ion-item id="logiSisse-input3">
        <ion-label>
          E-post
        </ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email" placeholder="Sinu e-posti aadress"></ion-input>
      </ion-item>
      <ion-item id="logiSisse-input4">
        <ion-label>
          Parool
        </ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="********"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button id="logiSisse-button4" (click)="login(user)" ion-button color="assertive">
          SISENE
        </button>
      </ion-col>
      <ion-col>
        <button id="logiSisse-button4" (click)="forgotPass()" ion-button clear color="positive">
          UNUSTASID PAROOLI?
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>