<!--
  Generated template for the EvacuationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Küttekolded</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1>Küttekolded</h1>
<b>Igal talvel on kahjuks tuleõnnetusi, mille on põhjustanud üleköetud või järelvalveta jäetud küttekolded. Tulest alguse saanud õnnetusi on lihtne ennetada, kui oskad ohtu hinnata ning märkad probleemseid kohti.</b>
<br>
<br>
<b>Kütteperioodi eel ja ajal pea meeles</b>
<ul>
  <li>Sinu kohustus on hoida hoone korsten ja tahmalõõrid pragudeta ja puhtad.</li>
  <li>Pliiti, maja- või saunaahju tuleb kütta mõõdukalt. Liigkütmine on hoonete süttimise üks levinumaid põhjuseid.</li>
  <li>Sina vastutad, et su kodu elektrijuhtmestik ja elektriline kodutehnika oleks terved ja korras.</li>
  <li>Suitsuandur aitab sul avastada tulekahju selle alguses.</li>
  <li>Sa ei tohi jätta kütte- ja soojendusseadmeid (pliite, ahje, katlaid, soojapuhureid jms) järelvalveta.</li>
  <li>Ära sulata külmunud torustikku lahtise tulega.</li>
</ul>
</ion-content>
