page-profiil {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
            margin: 0;
            width: auto;
            height: inherit;
        }

        .card-title {
            position: absolute;
            top: 80%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            text-shadow: 1px 1px #424242;
        }

        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 90%;
            width: 100%;
            color: #fff;
            text-shadow: 1px 1px #424242;
        }
    }
}
