<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tiri alla, et profiili värskendada..." refreshingSpinner="circles"
      refreshingText="Profiili värskendamine...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <!--<img src="https://scontent.cdninstagram.com/t51.2885-15/e35/12519440_508138099380571_739772510_n.jpg" />-->
    <img (click)="changePicture();" src="{{curUsrPic}}" alt="{{curUsrName}}">
    <div (click)="changeName();" class="card-title">{{curUsrName}}</div>
    <div (click)="changeEmail();" class="card-subtitle">{{curUsrEmail}}</div>
  </ion-card>

  <form id="page-form2">
    <h3>Current Latitude: {{locationTracker.lat}}</h3>
    <h3>Current Longitude: {{locationTracker.lng}}</h3>
    <button ion-button full primary (click)="starttracking()">Alusta jälgimist</button>
    <button ion-button full secondary (click)="stoptracking()">Lõpeta jälgimine</button>
    <button id="page-button3" (click)="changePassword();" ion-button clear color="dark" full>
      Muuda parooli
    </button>
    <ion-item id="page-toggle1" >
      <ion-label>
        Luba enda asukohta kuvada
      </ion-label>
      <ion-toggle color="positive" (click)="geolocationbtn"></ion-toggle>
    </ion-item>
  </form>
</ion-content>