<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Registreeru
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <div class="spacer" style="width:283px;height:29px;" id="registreeru-spacer4"></div>
  <div id="registreeru-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#828282;font-size:20px;">
      Pereliikmete ja varude lisamiseks palun registreeru
    </p>
  </div>
  <form id="registreeru-form2">
    <ion-list id="registreeru-list2">
      <ion-item id="registreeru-input5">
        <ion-label>
          Nimi
        </ion-label>
        <ion-input type="text" name="name" [(ngModel)]="newuser.displayName" placeholder="Sinu täisnimi"></ion-input>
      </ion-item>
      <ion-item id="registreeru-input7">
        <ion-label>
          E-post
        </ion-label>
        <ion-input type="email" name="email" [(ngModel)]="newuser.email" placeholder="Sinu e-posti aadress" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
      </ion-item>
      <ion-item id="registreeru-input6">
        <ion-label>
          Parool
        </ion-label>
        <ion-input type="password" name="password" [(ngModel)]="newuser.password" placeholder="******"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <button id="registreeru-button8" (click)="register()" ion-button clear color="positive" block style="font-size:20px;">
    REGISTREERU
  </button>
  <div id="registreeru-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#828282;font-size:15px;">
      või logi sisse eelnevalt lehelt Facebooki või GooglePlusi kaudu. Selleks pole kasutaja registreerimine vajalik.
    </p>
  </div>
  <!-- <ion-list id="registreeru-list3">
    <ion-item color="positive" id="registreeru-list-item10">
      <ion-icon name="facebook" item-left></ion-icon>
      Facebooki kaudu
    </ion-item>
    <ion-item color="assertive" id="registreeru-list-item11">
      <ion-icon name="googleplus" item-left></ion-icon>
      Google+ kaudu
    </ion-item>
    <ion-item color="none" id="registreeru-list-item12">
      Mobiil-ID
    </ion-item>
  </ion-list> -->
</ion-content>