<ion-tabs>
    <ion-tab [root]="tab1" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="tab3" tabIcon="basket"></ion-tab>
    <ion-tab [root]="tab4" tabIcon="person"></ion-tab>
</ion-tabs>
