<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Pereliikmete lisamine
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6" style="background-color:#EFEFEF;">
  <div>
    <img src="http://i.imgur.com/igBJLm5.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;"
    />
  </div>
  <h3 id="lisamine-heading4" style="color:#75757A;font-weight:400;text-align:center;">
    <!-- Sisesta pereliige -->
    Otsi pereliiget
  </h3>
  <!-- <div id="lisamine-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#8E8E96;font-size:18px;">
      Pereliikmel peab olema sama e-posti aadressiga äpi konto
    </p>
  </div> -->
  <ion-searchbar [(ngModel)]="searchstring" (input)="searchuser($event)" placeholder="Sisesta nimi või email"></ion-searchbar>
  <ion-list no-lines>
    <ion-list>
      <ion-item-sliding *ngFor="let key of filteredusers">
        <ion-item>
          <ion-avatar item-left>
            <img src="{{key.photoURL}}">
          </ion-avatar>
          <h2>{{key.displayName}}</h2>
        </ion-item>
        <ion-item-options slide="left">
          <button ion-button color="primary" (click)="sendreq(key)">
            <ion-icon name="person-add"></ion-icon>
            LISA
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-list>
  <!-- <div class="spacer" style="width:320px;height:20px;" id="lisamine-spacer15"></div>
  <form id="lisamine-form3">
    <ion-item id="lisamine-input4">
      <ion-label>
        Pereliige
      </ion-label>
      <ion-input type="email" placeholder="E-posti aadress"></ion-input>
    </ion-item>
  </form>
  <div class="spacer" style="width:300px;height:45px;" id="lisamine-spacer22"></div>
  <button id="lisamine-button7" ion-button outline color="positive" block style="font-weight:500;">
    LISA PERELIIGE
  </button> -->
</ion-content>