<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      E-postiga
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <div class="spacer" style="width:283px;height:13px;" id="ePostiga-spacer1"></div>
  <div>
    <img src="http://i.imgur.com/J7FB5M7.gif" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <div class="spacer" style="width:283px;height:25px;" id="ePostiga-spacer2"></div>
  <div id="ePostiga-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#7E7E7E;font-size:24px;">
      Registreerimine õnnestus!
    </p>
  </div>
  <div class="spacer" style="width:283px;height:7px;" id="ePostiga-spacer3"></div>
  <div id="ePostiga-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#939393;font-size:18px;">
      Saatsime sulle e-kirja aktiveerimislingiga.
    </p>
  </div>
  <div class="spacer" style="width:283px;height:45px;" id="ePostiga-spacer6"></div>
  <div>
    <img src="http://i.imgur.com/fky1gS9.gif" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <div id="ePostiga-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#939393;font-size:18px;">
      Kui e-kiri ei jõudnud kohale
    </p>
  </div>
  <button id="ePostiga-button1" ion-button (click)="sendAgain();" clear color="assertive" block small style="font-weight:600;">
    SAADA UUESTI
  </button>
</ion-content>