<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Parooli taastamine
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <div class="spacer" style="width:283px;height:29px;" id="registreeru-spacer4"></div>
  <div id="registreeru-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#828282;font-size:20px;">
      Parooli taastamiseks sisesta allolevasse välja e-posti aadress ja vajuta "Taasta parool".
    </p>
  </div>
  <form id="registreeru-form2">
    <ion-list id="registreeru-list2">
      <ion-item id="registreeru-input7">
        <ion-label>
          E-post
        </ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email" placeholder="Sinu e-posti aadress"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <button id="registreeru-button8" (click)="forgotPass()" ion-button clear color="positive" block style="font-size:20px;">
    Taasta parool
  </button>
</ion-content>