page-emergnums {
    .item-inner {
        padding-right: 0px;
    }

    .nrbtn {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: left;
        vertical-align: top;
    }

    .label-wp {
        margin: 0 auto;
    }

    p {
        color: lightgray;
    }

    i {
        font-size: 13px;
        color: lightslategray
    }
    .icon {
        color: inherit;
        text-decoration: none;
    }
}
