<!--
  Generated template for the FirstaidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Hädaabinumbrid</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<ion-list id="page-list1">
    <ion-item color="none" id="page-list-item1">
      <button full>
        <ion-icon name="ionic" item-left></ion-icon>
        Item
      </button>
    </ion-item>
    <ion-item color="none" id="page-list-item2">
      <button full>
        <ion-icon name="ionic" item-left></ion-icon>
        Item
      </button>
    </ion-item>
    <ion-item color="none" id="page-list-item3">
      <button full>
        <ion-icon name="ionic" item-left></ion-icon>
        Item
      </button>
    </ion-item>
    <ion-item color="none" id="page-list-item4">
      <button full>
        <ion-icon name="ionic" item-left></ion-icon>
        Item
      </button>
    </ion-item>
    <ion-item color="none" id="page-list-item5">
      <button full>
        <ion-icon name="ionic" item-left></ion-icon>
        Item
      </button>
    </ion-item>
    <ion-item color="none" id="page-list-item6">
      <button full>
        <ion-icon name="ionic" item-left></ion-icon>
        Item
      </button>
    </ion-item>
    <ion-item color="none" id="page-list-item7">
      <button full>
        <ion-icon name="ionic" item-left></ion-icon>
        Item
      </button>
    </ion-item>
    <ion-item color="none" id="page-list-item8">
      <button full>
        <ion-icon name="ionic" item-left></ion-icon>
        Item
      </button>
    </ion-item>
    <ion-item color="none" id="page-list-item9">
      <button full>
        <ion-icon name="ionic" item-left></ion-icon>
        Item
      </button>
    </ion-item>
  </ion-list>-->

<ion-list>
  <ion-item>
    <button class="nrbtn">
      <p>Politsei- ja päästeamet</p>
      <h1>112</h1>
      <i>Mis juhtus? Kus juhtus? Kellega juhtus?</i>
    </button>
    <ion-icon item-end name="call"></ion-icon>
  </ion-item>
  <ion-item>
    <button class="nrbtn">
      <p>Mürgituste infoliin</p>
      <h1>16 662</h1>
      <i>Mis juhtus? Mis ainega tegu?</i>
    </button>
    <ion-icon item-end name="call"></ion-icon>
  </ion-item>
  <ion-item>
    <button class="nrbtn">
      <p>Perearsti nõuandetelefon</p>
      <h1>1220</h1>
      <!--<i>Mis juhtus? Kus juhtus? Kellega juhtus?</i>-->
    </button>
    <ion-icon item-end name="call"></ion-icon>
  </ion-item>
  <ion-item>
    <button class="nrbtn">
      <p>Paigekassainfotelefon</p>
      <h1>16 363</h1>
      <!--<i>Mis juhtus? Kus juhtus? Kellega juhtus?</i>-->
    </button>
    <ion-icon item-end name="call"></ion-icon>
  </ion-item>
  <ion-item>
    <button class="nrbtn">
      <p>Keskkonnainspektsiooni valvetelefon</p>
      <h1>1313</h1>
      <!--<i>Mis juhtus? Kus juhtus? Kellega juhtus?</i>-->
    </button>
    <ion-icon item-end name="call"></ion-icon>
  </ion-item>
  <ion-item>
    <button class="nrbtn">
      <p>Maanteeinfo</p>
      <h1>1510</h1>
      <!--<i>Mis juhtus? Kus juhtus? Kellega juhtus?</i>-->
    </button>
    <ion-icon item-end name="call"></ion-icon>
  </ion-item>
  <ion-item>
    <button class="nrbtn">
      <p>Liiklusliin</p>
      <h1>14 900</h1>
      <!--<i>Mis juhtus? Kus juhtus? Kellega juhtus?</i>-->
    </button>
    <ion-icon item-end name="call"></ion-icon>
  </ion-item>
  <ion-item>
    <button class="nrbtn">
      <p>Maksu/ ja tolliameti infotelefon</p>
      <h1>1811</h1>
      <!--<i>Mis juhtus? Kus juhtus? Kellega juhtus?</i>-->
    </button>
    <ion-icon item-end name="call"></ion-icon>
  </ion-item>
  <ion-item>
    <button class="nrbtn">
      <p>Töötukassa infotelefon</p>
      <h1>15 501</h1>
      <!--<i>Mis juhtus? Kus juhtus? Kellega juhtus?</i>-->
    </button>
    <ion-icon item-end name="call"></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
