<ion-header>

  <ion-navbar color="primary">
    <ion-title id="homenav"> Minu pere </ion-title>
    <ion-buttons right>
      <button ion-button class="headerbtn" icon-only (click)="addFamily();">
          <ion-icon name="person-add"></ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button class="headerbtn" icon-only>
          <ion-icon name="map"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding id="page5" style="background-color:#EFEFEF;">
  <h5 id="nimekiri-heading2" style="color:#75757A;font-weight:400;">
    LISA OMA PEREPILT...
  </h5>
  <button id="nimekiri-button5" ion-button color="stable" full large style="color:#DDDDDD;">
    <ion-icon name="people"></ion-icon>
  </button>
  <div class="spacer" style="width:300px;height:21px;" id="nimekiri-spacer23"></div>
  <h5 [hidden]="showFriends || showReqs" id="nimekiri-heading5" style="color:#75757A;font-weight:400;">
    LISA PERELIIKMED
  </h5>
  <button [hidden]="showFriends" [hidden]="showReqs" id="nimekiri-button8" ion-button color="stable" full large style="color:#DDDDDD;" (click)="addFamily();">
    <ion-icon name="person-add"></ion-icon>
  </button>
<div [hidden]="!showReqs">
  <ion-list no-lines>
    <!-- <ion-list-header>
      Taotlused
    </ion-list-header> -->
    <ion-item>
      Taotlused
    </ion-item>
    <ion-item-sliding *ngFor="let item of myrequests">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{item.photoURL}}">
        </ion-avatar>
        <h4>{{item.displayName}}</h4>
      </ion-item>
      <ion-item-options>
        <button ion-button color="primary" (click)="accept(item)">
        <ion-icon name="checkmark"></ion-icon>
        LISA
      </button>
        <button ion-button color="light" (click)="ignore(item)">
        <ion-icon name="trash"></ion-icon>
        EIRA
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>
<div [hidden]="!showFriends">
  <ion-list no-lines>
    <!-- <ion-list-header>
      Pereliikmed
    </ion-list-header> -->
    <ion-item>
      Pereliikmed
    </ion-item>
    <ion-item *ngFor="let item of myfriends">
      <ion-avatar item-left>
        <img src={{item.photoURL}}>
      </ion-avatar>
      <h3>{{item.displayName}}</h3>
      <!-- <h3>{{item.geolocation.latitude}}</h3> -->
    </ion-item>
  </ion-list>
</div>

  <div [hidden]="showFriends" [hidden]="showReqs" id="nimekiri-markdown9" class="show-list-numbers-and-dots">
    <p style="color:#8E8E96;font-size:13px;">
      Pereliikmed on lähedased inimesed, kellega soovite omavahel esmast sidet hoida, näiteks abikaasa ja lapsed
    </p>
  </div>
  <div class="spacer" style="width:300px;height:21px;" id="nimekiri-spacer13"></div>
  <h5 id="nimekiri-heading3" style="color:#75757A;font-weight:400;">
    LISA KOGUNEMISKOHAD
  </h5>
  <button id="nimekiri-button6" ion-button color="stable" full large style="color:#DDDDDD;">
    <ion-icon name="map"></ion-icon>
  </button>
  <div id="nimekiri-markdown10" class="show-list-numbers-and-dots">
    <p style="color:#8E8E96;font-size:13px;">
      Kogunemiskohad on turvalised paigad, kuhu pereliikmetel on õnnetuse või eriolukorra puhul võimalik liikuda
    </p>
  </div>
</ion-content>