<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Kinnita e-posti aadress
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <div class="spacer" style="width:283px;height:37px;" id="kinnita-spacer7"></div>
  <div>
    <img src="http://i.imgur.com/zud4ktI.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <div class="spacer" style="width:283px;height:26px;" id="kinnita-spacer12"></div>
  <div id="kinnita-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#7E7E7E;font-size:23px;">
      Palun kinnita e-posti aadress
    </p>
  </div>
  <div class="spacer" style="width:283px;height:30px;" id="kinnita-spacer10"></div>
  <div class="spacer" style="width:283px;height:12px;" id="kinnita-spacer9"></div>
  <div>
    <img src="http://i.imgur.com/fky1gS9.gif" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <div class="spacer" style="width:283px;height:30px;" id="kinnita-spacer11"></div>
  <div id="kinnita-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#939393;font-size:15px;">
      Saatsime sulle e-kirja aktiveerimislingiga. Kui e-kiri ei jõudnud kohale
    </p>
  </div>
  <button id="kinnita-button2" (click)="sendAgain();" ion-button clear color="assertive" block small style="font-weight:600;">
    SAADA UUESTI
  </button>
</ion-content>