<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-left>
        <ion-icon name="arrow-back"></ion-icon>
        Katkesta
      </button>
    </ion-buttons>
    <ion-title color="primary">
      Lisamine
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6" style="background-color:#EFEFEF;">
  <div>
    <img src="assets/img/personadd-outline.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <h3 id="lisamine-heading4" style="color:#75757A;font-weight:400;text-align:center;">
    Sisesta pereliige
  </h3>
  <div id="lisamine-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#8E8E96;font-size:18px;">
      Pereliikmel peab olema sama e-posti aadressiga äpi konto
    </p>
  </div>
  <div class="spacer" style="width:320px;height:20px;" id="lisamine-spacer15"></div>
  <form id="lisamine-form3">
    <ion-item id="lisamine-input4">
      <ion-label>
        Pereliige
      </ion-label>
      <ion-input type="email" placeholder="E-posti aadress"></ion-input>
    </ion-item>
  </form>
  <div class="spacer" style="width:300px;height:45px;" id="lisamine-spacer22"></div>
  <button id="lisamine-button7" ion-button outline color="positive" block style="font-weight:500;">
    LISA PERELIIGE
  </button>
</ion-content>