<!--
  Generated template for the ViewallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>Juhendid</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-toolbar class="avalehtToolbar">
		<ion-title>Esmavajalik</ion-title>
	</ion-toolbar>

	<ion-list>
		<button ion-item (click)="vFAid();">
			<img src="http://i.imgur.com/3tRMAPN.png" class="btnImg" item-start alt="">
	  	Esmaabi
	  </button>
		<button ion-item (click)="vFSaf();">
			<img src="http://i.imgur.com/FffE4ZH.png" class="btnImg" item-start alt="">
	  	Tuleohutus
	  </button>
		<button ion-item (click)="vWSaf();">
			<img src="http://i.imgur.com/EAbWLAb.png" class="btnImg" item-start alt="">
	  	Veeohutus
	  </button>
		<button ion-item (click)="vNSaf();">
			<img src="http://i.imgur.com/KWMUYz3.png" class="btnImg" item-start alt="">
	  	Looduskeskkond
	  </button>
	</ion-list>


	<ion-toolbar class="avalehtToolbar">
		<ion-title>Õnnetused</ion-title>
	</ion-toolbar>
	<ion-list>
		<button ion-item (click)="vNDis();">
			<img src="http://i.imgur.com/LTJPMM7.png" class="btnImg" item-start alt="">
	  	Loodusõnnetused
	  </button>
		<button ion-item (click)="vEWOut();">
			<img src="http://i.imgur.com/IlzUUsA.png" class="btnImg" item-start alt="">
	  	Elektri- ja veekatkestus
	  </button>
	</ion-list>

	<ion-toolbar class="avalehtToolbar">
		<ion-title>Turvalisus</ion-title>
	</ion-toolbar>
	<ion-list>
		<button ion-item (click)="vPDef();">
			<img src="http://i.imgur.com/oadhTL1.png" class="btnImg" item-start alt="">
	  	Füüsiline enesekaitse
	  </button>
		<button ion-item (click)="vSThrt();">
			<img src="http://i.imgur.com/jkB1Csq.png" class="btnImg" item-start alt="">
	  	Julgeolekuohud
	  </button>
		<button ion-item (click)="vCSec();">
			<img src="http://i.imgur.com/rWTRzxd.png" class="btnImg" item-start alt="">
	  	Küberturvalisus
	  </button>
		<button ion-item (click)="vHSec();">
			<img src="http://i.imgur.com/8SDhD7e.png" class="btnImg" item-start alt="">
	  	Kodu ja turvalisus
	  </button>
	</ion-list>

</ion-content>