/*
commit lauaarvutist
*/

<ion-header>

  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons left>
        <button (click)="refresh()" ion-button icon-only>
          <ion-icon name="refresh"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title id="homenav"> <img src="http://i.imgur.com/cZDzOHM.png" alt="Naiskodukaitse" height="40px" style="padding:5px;"> </ion-title>
    <ion-buttons right>
      <button ion-button *ngIf="!(user | async)?.uid" (click)="logIn();">Logi sisse</button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button *ngIf="(user | async)?.uid" (click)="logOut();">Logi välja</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-toolbar class="avalehtToolbar" style="margin-bottom: 1em;">
    <ion-title>Juhendid</ion-title>
    <ion-buttons end>
      <button ion-button icon-right (click)="viewAll();">
        Vaata kõiki
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <button class="homeLogoBtn" color="light" ion-button item-start (click)="vFAid();">
          <img src="http://i.imgur.com/3tRMAPN.png" class="btnimg" />
          
        </button>
        <p>Esmaabi</p>
      </ion-col>
      <ion-col>
        <button class="homeLogoBtn" color="light" ion-button item-start (click)="vFSaf();">
          <img src="http://i.imgur.com/FffE4ZH.png" class="btnimg" />
          
        </button>
        <p>Tuleohutus</p>
      </ion-col>
      <ion-col>
        <button class="homeLogoBtn" color="light" ion-button item-start (click)="vNDis();">
          <img src="http://i.imgur.com/LTJPMM7.png" class="btnimg" />
          
        </button>
        <p>Loodusõnnetused</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <button class="homeLogoBtn" color="light" ion-button item-start (click)="vWSaf();">
          <img src="http://i.imgur.com/EAbWLAb.png" class="btnimg" />
          
        </button>
        <p>Veeohutus</p>
      </ion-col>
      <ion-col>
        <button class="homeLogoBtn" color="light" ion-button item-start (click)="vNSaf();">
          <img src="http://i.imgur.com/KWMUYz3.png" class="btnimg" />
          
        </button>
        <p>Looduskeskkond</p>
      </ion-col>
      <ion-col>
        <button class="homeLogoBtn" color="light" ion-button item-start (click)="vSThrt();">
          <img src="http://i.imgur.com/jkB1Csq.png" class="btnimg" />
          
        </button>
        <p>Julgeolekuohud</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar class="avalehtToolbar" style="margin-top: 1em; margin-bottom: 1em;">
    <ion-title>Kasulik info</ion-title>
  </ion-toolbar>

  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <button class="homeLogoBtn" color="light" ion-button item-start (click)="vEmerg();">
          <img src="http://i.imgur.com/WV5FKT3.png" class="btnimg" />
          
        </button>
        <p>Hädaabinumbrid</p>
      </ion-col>
      <ion-col>
        <button class="homeLogoBtn" color="light" ion-button item-start (click)="vKOVGath();">
          <img src="http://i.imgur.com/erX2qVE.png" class="btnimg" />
          
        </button>
        <p>KOV kogunemiskohad</p>
      </ion-col>
      <ion-col>
        <button class="homeLogoBtn" color="light" ion-button item-start (click)="vNKKaitse();">
          <img src="http://i.imgur.com/Bj7kcP2.png" class="btnimg" />
          
        </button>
        <p>Naiskodukaitse</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar class="avalehtToolbar" style="margin-top: 1em;">
    <ion-title></ion-title>
  </ion-toolbar>

</ion-content>

