page-avaleht {
    .button-md-light {
        color: #000;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .button-ios-light {
        color: #000;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .button-wp-light {
        color: #000;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .homeLogoBtn {
        height: 70px;
        width: 70px;
        padding: 15px;
        border: none;
        background: #EDEFED !important; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#F7F8F7, #EDEFED) !important; /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#F7F8F7, #EDEFED) !important; /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#F7F8F7, #EDEFED) !important; /* For Firefox 3.6 to 15 */
        background: linear-gradient(#F7F8F7, #EDEFED) !important; /* Standard syntax */
        border-radius: 15px;
    }

    .btnimg {
        height: inherit;
        width: inherit;
    }
}
