<!--
  Generated template for the FirstaidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>Tuleohutus</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-toolbar class="avalehtToolbar">
		<ion-title id="homenav"><img src="http://i.imgur.com/oY0yWpq.png"/></ion-title>
	</ion-toolbar>

	<ion-list>
		<button ion-item (click)="vFireplaces();">
	  	Küttekolded
	  </button>
		<button ion-item (click)="vChimneyswp();">
	  	Korstnapühkimine
	  </button>
		<button ion-item (click)="vFireprevent();">
	  	Tulekahju vältimine
	  </button>
		<button ion-item (click)="vFiredetect();">
	  	Tulekahju avastamine
	  </button>
		<button ion-item (click)="vEvacuation();">
	  	Evakuatsioon
	  </button>
	</ion-list>
</ion-content>